/* extra small device responsive start */

@media (min-width: 320px) and (max-width: 575.98px) {
/* common css start */
.cmn-head{
	font-weight: 500;
	font-size: 23px;
}
.cmn-paragraph {
	font-size: 12px;
	line-height: 20px;
}
/* common css end */

/* nav start */
.navbar-brand img{
    width: 75px;
}
.navbar-toggler{
    font-size: 20px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.nav-items {
    gap: 0px;
}
.nav-items .nav-item a {
	font-weight: 400;
	font-size: 13px;
}
.navbtn {
    font-weight: 400;
    font-size: 12px;
    padding: 8px 14px;
    border-radius: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-top: 20px;
}
/* nav end */
/* banner start */
#banner {
    padding: 60px 0 60px;
}
#banner .bnr-txt .banner-head {
	font-weight: 500;
	font-size: 35px;
	line-height: 40px;
}
#banner .bnr-txt .bnr-descript {
	margin-top: 20px;
	width: auto;
}
#banner .bnr-txt .bnr-btn {
	font-size: 14px;
	padding: 8px 14px;
	border-radius: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	margin-top: 10px;
}
#banner .bnr-img img {
	width: 100%;
	margin-top: 40px;
}
/* banner end */
/* service start */
#service {
	padding: 60px 0px;
}
#service .serve-paragraph {
	width: 100%;
	margin-top: 10px;
    font-size: 12px;
    line-height: 20px;
}
#service .card {
	padding: 20px;
}
#service .card svg {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 auto;
}
#service .card .card-body {
	padding: 20px 0 0;
    text-align: center;
}
#service .card .card-body .card-title {
	font-weight: 500;
	font-size: 18px;
}
#service .card .card-body .card-text {
	margin-top: 10px;
}
/* service end */
/* portfolio start */
#portfolio {
	padding: 0 0 60px 0;
}
#portfolio .title p {
	width: 100%;
}
#portfolio .port-box img{
	width: 100%;
}
#portfolio .port-box .port-txt h3 {
	font-weight: 500;
	font-size: 16px;
	line-height: 15px;
}
/* portfolio end */
/* team start */
#team {
	padding: 30px 0;
}
#team .title p {
	width: 100%;
	margin: 15px auto 0;
}
#team .team-box .team-txt h3 {
	font-weight: 500;
	font-size: 15px;
	line-height: 15px;
}
.team-wrapper{
    row-gap: 15px;
}
#team .team-box img{
    width: 100%;
}
/* team end */
/* customer start */
#customer .title h2 {
	width: 100%;
}
#customer .title p {
	width: 100%;
	margin-top: 15px;
}
.customer-wraper{
    row-gap: 15px;
}
#customer .card {
	padding: 15px;
    text-align: center;
}
#customer .title {
	padding-bottom: 20px;
}
#customer .card .customer-profile {
	width: 70px;
    margin: 0 auto;
}
#customer .card .star-line {
	gap: 3px;
	padding: 20px 0 10px;
	justify-content: center;
}
#customer .card .card-foot {
    margin: 0;
    order: 1;
    padding-bottom: 10px;
}
#customer .card .card-body {
    order: 2;
}
#customer .card .card-foot img {
    display: none;
}
/* customer end */
/* news start */
#news {
	padding: 0px 0 60px;
}
#news .title p {
	width: 100%;
	margin-top: 15px;
}
#news .title {
	margin-bottom: 30px;
}
#news .card .card-body .card-title {
	font-weight: 500;
	font-size: 12px;
	width: 100%;
}
#news .card .card-body .card-text {
	width: 100%;
	margin-top: 10px;
}
#news .card {
	padding: 20px;
}
#news .card .card-body a {
	font-weight: 400;
	font-size: 10px;
	margin-top: 0px;
}
/* news end */
/* footer start */
#footer {
	padding: 40px 0;
}
.foot-logo{
    width: 70px;
}
#footer .foot-txt {
	font-size: 12px;
	line-height: 20px;
	padding: 10px 0 20px;
	width: 100%;
}
#footer .foot-social li a {
	width: 25px;
	height: 25px;
	line-height: 25px;
}
#footer h3 {
	font-size: 15px;
}
.extra-small{
    margin-top: 30px;
}
.foot-wraper{
    row-gap: 30px;
}
#footer .foot-list {
	margin-top: 5px;
}
#footer .foot-list li a {
	font-size: 12px;
	line-height: 20px;
}
/* footer end */
}

/* extra small device responsive end */